* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

header {
    line-height: 100px;
    text-align: center;
    border-bottom: 1px solid black;
}

header h2 {
    font-size: 25px;
}

#book-heading {
    text-align: center;
    font-size: 25px;
    margin-top: 95px;
}

#book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

#book-container div {
    width: 500px;
    text-align: center;
    margin-bottom: 45px;
}

img {
    width: 250px;
    margin-bottom: 7px;
}

.auth-name {
    margin-top: 3px;
}

.rating {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 7px;
    transform: rotateY(180deg);
}

.rating .inp {
    display: none;
}

.rating label {
    display: block;
    width: 25px;
}

.rating label::before {
    content: '\f006';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 23px;
    color: #51B5CD;
}

.rating label::after {
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    display: block;
    font-size: 23px;
    color: #51B5CD;
    opacity: 0;
    /* text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); */
}

.rating .inp:checked ~ label::after {
    opacity: 1;
}

.rating .inp:checked ~ label::before {
    opacity: 0;
}

footer {
    padding: 40px;
    text-align: center;
    margin-top: 50px;
    background-color: #23232D;
    color: #F6F8F8;
}

footer div h4 {
    padding: 3px;
}

footer div h3 {
    margin-bottom: 8px;
    font-size: 20px;
}

@media(max-width: 1500px) {
    #book-container div {
        width: 400px;
    }
}

@media(max-width: 1200px) {
    img {
        width: 230px;
    }

    #book-container div {
        width: 350px;
    }
}

@media(max-width: 870px) {
    img {
        width: 200px;
    }

    #book-container div {
        width: 270px;
    }
}